<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;
  });
</script>

<main>
  <h1>IoT</h1>
  <h2>
    Deployed with
    <a href="https://vercel.com/docs" target="_blank" rel="noreferrer noopener">
      Vercel
    </a>
    !
  </h2>
  <p>
    <a
      href="https://github.com/vercel/vercel/tree/master/examples/svelte"
      target="_blank"
      rel="noreferrer noopener">
      This project
    </a>
    is a
    <a href="https://svelte.dev/">IoT</a>
    app with three directories,
    <code>/public</code>
    for static assets,
    <code>/src</code>
    Desarrollos de Internet of Things
    <code>/api</code>
    which contains a serverless
    <a href="https://nodejs.org/en/"></a>
    function. See
    <a href="/api/date">
      <code>api/date</code>
      .
    </a>
    .
  </p>
  <br />
  <h2>.</h2>
  <p>{date ? date : 'Loading date...'}</p>
</main>
